{% extends 'base.html.twig' %}

{% block title %} Prestataire - inscription {% endblock %}
{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend_prestataire/_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        {{ include('frontend_prestataire/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}


{% block stylesheets %}
    {#    <script src="{{ absolute_url(asset('js/jquery-3.7.1.min.js')) }}"></script>#}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ absolute_url(asset('js/upload-init.js')) }}"></script>
    <script>
        $(document).ready(function() {
            $('.form-select').select2({
                theme: 'bootstrap-5'
            });
        });
    </script>

{% endblock %}