{% extends 'base.html.twig' %}

{% block title %} Modification de l'offre {{ postuler.reference }} {% endblock %}
{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend_prestataire/_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        {{ include('frontend_prestataire/_form_postuler.html.twig',{button_label: 'Modifier'}) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}

{% block stylesheets %}
    <script src="{{ absolute_url(asset('js/jquery-3.7.1.min.js')) }}"></script>
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ absolute_url(asset('js/upload-init.js')) }}"></script>
    <script>
        $(document).ready(function() {
            $('.select-2').select2();
        });
    </script>
{% endblock %}