{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion de la liste des entreprises{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des entreprises</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Produits</a></li>
                                <li class="breadcrumb-item" aria-current="page">entreprises</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Type</th>
                                        <th class="text-center text-uppercase">Raison sociale</th>
                                        <th class="text-center text-uppercase">Siège</th>
                                        <th class="text-center text-uppercase">Adresse</th>
                                        <th class="text-center text-uppercase">Email</th>
                                        <th class="text-center text-uppercase">Telephone</th>
                                        <th class="text-center text-uppercase">Année</th>
                                        <th class="text-center text-uppercase">Domaine</th>
                                        <th class="text-center text-uppercase">RC</th>
                                        <th class="text-center text-uppercase">CC</th>
                                        <th class="text-center text-uppercase">actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entreprise in entreprises %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ entreprise.type }}</td>
                                            <td>{{ entreprise.raisonSociale }}</td>
                                            <td>{{ entreprise.siege }}</td>
                                            <td>{{ entreprise.adresse }}</td>
                                            <td>{{ entreprise.email }}</td>
                                            <td>{{ entreprise.telephone }}</td>
                                            <td>{{ entreprise.annee }}</td>
                                            <td>{{ entreprise.domaine }}</td>
                                            <td>{{ entreprise.rc }}</td>
                                            <td>{{ entreprise.cc }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('app_backend_adhesion_show', {'slug': entreprise.slug}) }}"><i class="ti-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Aucun entreprise trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/css/prism.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/vendor/js/prism.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.js')) }}"></script>
    <script>
        $('#listes').DataTable( {
            dom: 'Bfrtip',
            scrollX: true,
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        } );
    </script>
{% endblock %}
