{{ form_start(form) }}
<div class="row form-group">
    <div class="col-12 mt-3">{{ form_row(form.title) }}</div>
    <div class="col-12 mt-3">{{ form_row(form.content) }}</div>
    <div class="col-6 mt-3">{{ form_row(form.media) }}</div>
    <div class="col-6 mt-3">
        {% if slide.media %}
            <img src="{{ absolute_url(asset('upload/slide/' ~ slide.media)) }}" alt="{{ slide.title }}" class="img-fluid">
        {% endif %}
    </div>
    <div class="col-6 form-check mt-3">{{ form_row(form.statut) }}</div>
</div>
    {{ form_widget(form) }}
<div class="text-end mt-5">
    <a href="{{ absolute_url(path('app_backend_slide_index')) }}" class="btn btn-outline-secondary">Annuler</a>
    <button class="btn btn-primary" id="saveButton">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
