{% extends 'base.html.twig' %}

{% block title %}{{ demandeur.nom }} {{ demandeur.prenom }}{% endblock %}

{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend/_demandeur_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        <h2 class="titre">Mes informations personnelles</h2>
                        <div class="row mt-5">
                            <div class="col-12"><label for="">Code</label> : {{ demandeur.code }}</div>
                            <div class="col-12"><label for="">Nom de famille</label> : {{ demandeur.nom }}</div>
                            <div class="col-12"><label for="">Prenoms</label> : {{ demandeur.prenom }}</div>
                            <div class="col-12"><label for="">Adresse email</label> : {{ demandeur.email }}</div>
                            <div class="col-12"><label for="">Téléphone</label> : {{ demandeur.telephone }}</div>
                            <div class="col-12"><label for="">Profession</label> : {{ demandeur.profession }}</div>
                            <div class="col-12"><label for="">Adresse géographique</label> : {{ demandeur.adresse }}</div>
                        </div>
                        <div class="mt-3">
                            <a href="{{ absolute_url(path('app_frontend_demandeur_edit',{'code' : demandeur.code})) }}"><i class="bi bi-pencil-square"></i> Modifier mon profile</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}