<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProConnect : maintenance</title>

    {% block meta %}

        <meta property="og:locale" content="fr_FR" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ProConnect : Plateforme de mise en relation demandeur - prestataire" />
        <meta property="og:description" content="ProConnect : Plateforme de mise en relation demandeur - prestataire" />
        <meta property="og:url" content="{{ absolute_url(path('app_home_index')) }}" />
        <meta property="og:site_name" content="ProConnect" />
        <meta property="article:modified_time" content="2022-12-18T11:08:30+00:00" />
        <meta property="og:image" content="{{ absolute_url(asset('assets/img/_logo-rvb.png')) }}" />
        <meta property="og:image:type" content="image/svg+xml" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="ProConnect : Plateforme de mise en relation demandeur - prestataire"/>
        <meta name="twitter:title" content="ProConnect : Plateforme de mise en relation demandeur - prestataire"/>
        <meta name="twitter:domain" content="ProConnect"/>
        <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/img/_logo-rvb.png')) }}"/>

    {% endblock %}

    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/maintenance.css')) }}">
</head>

<body>
<div class="wrapper">

    <div class="container">
        <h1>Bientôt disponible</h1>
        <p>
            Notre site est en cours de construction. Restez à l'écoute !
        </p>
        <div class="newsletter mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Entrez votre email" aria-label="Entrez votre email" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Enregistrez</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="message">
            Nous vous remercions de votre patience et nous vous tiendrons informé de la mise en ligne.
        </div>
    </div>

    <div class="illustration">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-01.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-02.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-03.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-04.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-05.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-06.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-07.png')) }}" alt="">
    </div>
</div>
</body>

</html>