<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProConnect : maintenance</title>

    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/maintenance.css')) }}">
</head>

<body>
<div class="wrapper">

    <div class="container">
        <h1>Bientôt disponible</h1>
        <p>
            Notre site est en cours de construction. Restez à l'écoute !
        </p>
        <div class="newsletter mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Entrez votre email" aria-label="Entrez votre email" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Enregistrez</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="message">
            Nous vous remercions de votre patience et nous vous tiendrons informé de la mise en ligne.
        </div>
    </div>

    <div class="illustration">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-01.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-02.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-03.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-04.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-05.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-06.png')) }}" alt="">
        <img src="{{ absolute_url(asset('/assets/img/all/prestataire-07.png')) }}" alt="">
    </div>
</div>
</body>

</html>