{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion liste des actions{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des actions</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">actions</a></li>
                                <li class="breadcrumb-item" aria-current="page">Liste</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>
                                <div class="col text-end">
                                    <a href="{{ absolute_url(path('app_backend_call_to_action_new')) }}" class="btn btn-primary"><i class="ti-plus"></i> Ajouter</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div id="table-loader" class="table-loader">
                                <div class="loader"></div>
                            </div>
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap table-responsive">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Titres</th>
                                        <th class="text-center text-uppercase">Statut</th>
                                        <th class="text-center text-uppercase">actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for call_to_action in call_to_actions %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ asset('upload/action/' ~ call_to_action.media) }}" alt="avatar" class="rounded-circle" width="35" />
                                                    <div class="ms-3">
                                                        <div class="user-meta-info">
                                                            <h6 class="user-name mb-0" data-name="{{ call_to_action.title }}">{{ call_to_action.title }}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                {% if call_to_action.statut %}
                                                    <span class="badge bg-primary">ACTIVE</span>
                                                {% else %}
                                                    <span class="badge bg-danger">DESACTIVE</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#slide-{{ call_to_action.id }}"><i class="ti-eye"></i></a>
                                                &nbsp; | &nbsp;
                                                <a href="{{ path('app_backend_call_to_action_edit', {'id': call_to_action.id}) }}"><i class="ti-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% for call_to_action in call_to_actions %}
            <div class="modal fade" id="slide-{{ call_to_action.id }}" tabindex="-1"  aria-labelledby="slide-{{ call_to_action.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header d-flex align-items-center" >
{#                            <h4 class="modal-title" id="myLargeModalLabel"> slide N°{{ call_to_action.id}} </h4>#}
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <img src="{{ asset('upload/action/' ~ call_to_action.media) }}" alt="{{ call_to_action.title }}" class="img-fluid" loading="lazy">
                                </div>
                                <div class="col-8">
                                    <h4>{{ call_to_action.title }}</h4>
                                    <p>{{ call_to_action.content|raw }}</p>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('app_backend_call_to_action_edit', {'id': call_to_action.id}) }}" class="btn btn-outline-primary">Modifier</a>
                            <button type="button"  class="btn btn-light-danger text-danger font-medium waves-effect text-start" data-bs-dismiss="modal"
                            >  Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/css/prism.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.css')) }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.4.3/css/scroller.bootstrap5.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/vendor/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/vendor/js/prism.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/vendor/DataTables/datatables.min.js')) }}"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.3/js/scroller.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.3/js/dataTables.scroller.js"></script>
    <script src="{{ absolute_url(asset('backoffice/vendor/js/select2.full.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/vendor/js/select2.min.js')) }}"></script>
    <script>
        $(document).ready(function() {
            var tableLoader = $('#table-loader');
            var table = $('#listes');

            table.on('init.dt', function() {
                tableLoader.find('.loader').hide();
                table.show();
            });

            table.DataTable({
                // Configurations du DataTable
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                initComplete: function() {
                    tableLoader.find('.loader').show();
                    table.hide();
                },
                // responsive: true,
                scrollCollapse: true,
                scroller: true,
                scrollY: 500
            });
        });
    </script>
    {#    <script>#}
    {#        $('#listes').DataTable( {#}
    {#            dom: 'Bfrtip',#}
    {#            buttons: [#}
    {#                'copy', 'excel', 'pdf'#}
    {#            ]#}
    {#        } );#}
    {#    </script>#}
    <script>
        $(".select2").select2();
    </script>
{% endblock %}

