{% extends 'base.html.twig' %}

{% block title %} Liste des projets {% endblock %}
{% block body %}
    <main>
        <section class="projects" id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3" data-aos="fade-up" data-aos-duration="2000">
                        {{ render(url('app_frontend_filtre_box')) }}
                    </div>
                    <div class="col-lg-9" data-aos="fade-up">
                        <!-- Select filter -->
                        <div class="row mb-3">

                            <div class="col">
                                <!--Affichage des resultats 1 - 6 sur 20-->
                            </div>

                            <div class="col text-end filter-select">
                                <form action="{{ absolute_url(path('app_frontend_projet_list')) }}" id="filterForm">
                                    <select name="filter" id="filtre" class="form-select" onchange="document.getElementById('filterForm').submit();">
                                        <option value="">-- Filtrer --</option>
                                        <option value="ALL">Toutes les projets</option>
                                        <option value="DATE">Par date</option>
                                        <option value="BUDGET">Par Budget</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 g-4 projects-items">

                            {% for projet in projets %}
                                <div class="col projects-items__content">
                                    <a href="{{ absolute_url(path('app_frontend_projet_show',{"reference": projet.reference})) }}" data-turbo="false">
                                        <div class="card h-100">
                                            <div class="card-body">

                                                <div class="projects-items__content-author">
{#                                                    <div class="projects-items__content-avatar bg-main-gradient">#}
{#                                                        <img src="./assets/img/all/3d-render-african-american-worker-woman-with-helmet.png" alt="" class="img-fluid">#}
{#                                                    </div>#}
                                                    <div class="projects-items__content-infos pl-3">
                                                        <span class="badge bg-main">{{ projet.categorie }}</span>
                                                        <h6 class="h6">{{ projet.title }}</h6>
                                                        <div class="reference fz-16">
                                                            </span> Postée le {{ projet.created_at|date('d/m/Y')}} à {{ projet.created_at|date('H:i:s') }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="projects-items__content-details mt-2">
                                                    <div class="location"> <i class="bi bi-geo-alt"></i> {{ projet.localite }}</div>
                                                </div>
                                                <div class="projects-items__content-countdown py-5">
                                                    <span class="fz-22 fw-500 px-2">{{ jour_restant(projet.reference)}}</span> jours restants pour postuler.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}



                        </div>
                        <!-- Pagination
                        <div class="marketplace" data-aos="fade-up">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}