{% extends 'base.html.twig' %}

{% block title %} {{ projet.title}} {% endblock %}
{% block body %}
    <main>
        <section class="projects" id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8" data-aos="fade-up">
                        {{ include('frontend_projet/_form.html.twig',{button_label: 'Envoyez votre offre'}) }}

                    </div>
                    {% if autres_projets %}
                        <div class="col-lg-4" data-aos="fade-left">
                            <div class="projects-client">

                                <h6 class="h6 mt-5">{{ autres_projets|length > 1 ? 'Autres projets' : 'Autre projet' }}</h6>

                                <div class="row row-cols-1 projects-items">

                                    {% for projet in autres_projets %}
                                        <div class="col projects-items__content mt-3">
                                            <a href="{{ path('app_frontend_projet_show', {'reference': projet.reference}) }}">
                                                <div class="card h-100">
                                                    <div class="card-body">

                                                        <div class="projects-items__content-author">
                                                            <div class="projects-items__content-infos pl-3">
                                                                <span class="badge bg-main">{{ projet.categorie.title }}</span>
                                                                <h6 class="fz-20">{{ projet.title }}</h6>
                                                                <div class="reference fz-14">
                                                                    <span class="bi bi-calendar-event"></span> {{ projet.createdAt|date('d/m/Y H:i:s') }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="projects-items__content-details mt-2">
                                                            <div class="location fz-16"> <i class="bi bi-geo-alt"></i> {{ projet.localite.title}}, {{ projet.lieu}} </div>
                                                        </div>
                                                        <div class="projects-items__content-countdown py-5">
                                                            <span class="fz-20 fw-500 px-2">{{ projet.reference|jour_restant }}</span>
                                                            {{ projet.reference|jour_restant > 1 ? 'jours restants pour postuler' : 'jour restant pour postuler' }}.
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', function () {#}
{#            const moneyInput = document.querySelector('.money-input');#}

{#            moneyInput.addEventListener('blur', function () {#}
{#                const value = parseInt(moneyInput.value, 10);#}
{#                if (!isNaN(value)) {#}
{#                    moneyInput.value = value.toLocaleString('fr-FR', { style: 'currency', currency: 'XOF' });#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}




{% endblock %}