{% extends 'base.html.twig' %}

{% block title %}Mes conversations{% endblock %}

{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend_demandeur/_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        <h2 class="titre">Mes conversations</h2>

                        <div class="mt-5 profile-content_messages">
                            <div class="row">
                                <!-- Liste des conversations -->
                                <div class="col-12 col-md-4 conversations-list">
                                    <div class="list-group" style="height: 600px; overflow-y: auto;">
                                        {% for message in messages %}
                                            <a href="{{ path('app_frontend_demandeur_message_echange', {'demandeur': demandeur.code, 'matricule': message.prestataire.matricule}) }}"
                                               class="list-group-item list-group-item-action {{ message.prestataire.matricule == active ? 'active' : '' }}">
                                                <div class="d-flex w-100 align-items-center">
                                                    {% if message.prestataire.media %}
                                                        <img src="{{ absolute_url(asset('upload/prestataire/' ~ message.prestataire.media)) }}" alt="{{ message.prestataire.nom }} {{ message.prestataire.prenoms }}" class="img-fluid">
                                                    {% else %}
                                                        <img src="{{ absolute_url(asset('img/all/3d-worker.png')) }}" alt="{{ message.prestataire.media }}" class="img-fluid">
                                                    {% endif %}
                                                    <h6 class="mb-0 fz-16">{{ message.prestataire.prenoms|title }} {{ message.prestataire.nom|upper }}</h6>

                                                </div>
                                                <small class="text-muted fz-16">{{ message.createdAt|temps_ecoule }}</small>

                                            </a>
                                        {% endfor %}

                                    </div>
                                </div>

                                <!-- Fenêtre de chat -->
                                <div class="col-12 col-md-8 chat-window">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-start align-items-center">
                                            {% if prestataire.media %}
                                                <img src="{{ absolute_url(asset('upload/prestataire/' ~ prestataire.media)) }}" alt="{{ prestataire.nom }} {{ prestataire.prenoms }}" class="img-fluid">
                                            {% else %}
                                                <img src="{{ absolute_url(asset('img/all/3d-worker.png')) }}" alt="{{ prestataire.media }}" class="img-fluid">
                                            {% endif %}
                                            &nbsp; &nbsp;
                                            <h6 class="mb-0 fz-16">{{ prestataire.prenoms|title }} {{ prestataire.nom|upper }}</h6>
                                        </div>
                                        <div class="card-body chat-body" id="chat-body" style="height: 500px; overflow-y: auto;">
                                            {% for conversation in conversations %}
                                                <div class="message message-sent mb-3">
                                                    <div class="message-content p-3 bg-main text-white rounded">
                                                        {{ conversation.content|raw }}
                                                    </div>
                                                    <div class="message-time text-muted small fz-14">{{ conversation.createdAt|temps_ecoule }}</div>
                                                </div>
                                            {% endfor %}


{#                                            <div class="message message-received mb-3">#}
{#                                                <div class="message-content p-3 bg-light rounded">#}
{#                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi beatae dignissimos distinctio dolore eaque eveniet excepturi, id in iure labore modi molestiae molestias nemo optio perspiciatis possimus quisquam tempore.#}
{#                                                </div>#}
{#                                                <div class="message-time text-muted small fz-14">11:46 AM</div>#}
{#                                            </div>#}


                                        </div>
                                        <div class="card-footer">
                                            {{ form_start(form) }}
                                                <div class="input-group">
                                                    {{ form_widget(form.content) }}
                                                    {{ form_errors(form.content) }}
                                                    {{ form_widget(form) }}
                                                    <button class="btn btn-main" type="submit"><i class="bi bi-send"></i> Envoyer</button>
                                                </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"></section>
{% endblock %}
