{% extends 'base.html.twig' %}

{% block title %} Demandeur - inscription {% endblock %}
{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend_demandeur/_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        {{ include('frontend_demandeur/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ absolute_url(asset('js/jquery-3.7.1.min.js')) }}"></script>
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{{ absolute_url(asset('js/upload-init.js')) }}"></script>
    <script>
        $(document).ready(function() {
            $('.select-2').select2();
        });
    </script>
    <script>
        // Initialiser Dropify et Select2 avec Turbo
        function initializeComponents() {
            // Initialisation de Dropify
            $('.dropify').dropify();

            // Initialisation de Select2
            $('.select-2').select2();
        }

        // Écouter l'événement Turbo pour initialiser les bibliothèques après le chargement de Turbo
        document.addEventListener('turbo:load', function() {
            initializeComponents();
        });

        // Si vous utilisez des frames Turbo, écoutez aussi cet événement
        document.addEventListener('turbo:frame-render', function() {
            initializeComponents();
        });

        // Pour le premier chargement de la page
        $(document).ready(function() {
            initializeComponents();
        });
    </script>
{% endblock %}