{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend_demandeur/_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        <h2 class="titre">Mes projets</h2>
                        <div class="text-end">
                            <a href="{{ absolute_url(path('app_frontend_demandeur_projet_ajout',{"demandeur": demandeur.code})) }}" class="btn btn-main btn-sm"><i class="bi bi-plus-circle-fill"></i> Ajouter un projet</a>
                        </div>
                        <div class="mt-5 profile-content_projet">
                            {% for projet in projets %}
                                {% if projet.statut == 'TERMINE' %}
                                    <div class="row mt-3">
                                        <div class="col-lg-9 mt-1">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <span class="badge bg-main">Domaine</span>
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <h5 class="card-title">Recherche d'un menuisier</h5>
                                                            <div class="row">
                                                                <div class="col-md-6 col-lg-4">
                                                                    <i class="bi bi-geo-alt"></i> Abidjan Riviera 3
                                                                </div>
                                                                <div class="col-md-3 col-lg-4">
                                                                    <i class="bi bi-stopwatch"></i> 22/07/2024
                                                                </div>
                                                                <div class="col-md-3 col-lg-4">
                                                                    <i class="bi bi-cash-coin"></i> 250.000 FCFA
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 d-grid gap-2">
                                                            <a href="{{ absolute_url(path('app_frontend_demandeur_projet_details', {'demandeur': demandeur.code, 'reference': 'reference-du-projet'})) }}" class="btn btn-main btn-sm">Voir les details</a>
                                                            <a href="#" class="btn btn-success btn-sm">Terminé</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-1">
                                            <div class="card h-100 prestataire">
                                                <div class="card-body text-center">
                                                    <div class="card-text">Embauché</div>
                                                    <figure>
                                                        <img src="{{ absolute_url(asset('img/all/3d-worker.png')) }}" alt="" class="card-img rounded-circle">
                                                    </figure>
                                                    <a href="#" class="card-title">Nom prestatire</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row mt-3">
                                        <div class="col-lg-9">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <span class="badge bg-main">{{ projet.categorie.title }}</span>
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <h5 class="card-title">{{ projet.title }}</h5>

                                                            <div class="row informations">
                                                                <div class="col-4">
                                                                    <i class="bi bi-geo-alt"></i> {{ projet.localite.title ?? projet.lieu }}
                                                                </div>
                                                                <div class="col-4">
                                                                    <i class="bi bi-calendar"></i> {{ projet.createdAt|date('d/m/Y') }}
                                                                </div>
                                                                <div class="col-4">
                                                                    {% set aujourdHui = "now"|date('Y-m-d') %}
                                                                    {%  set dateLimite = projet.dateLimite|date('Y-m-d') %}
                                                                    {% set restant = (dateLimite|date('U') - aujourdHui|date('U')) / 86400 %}

                                                                    {% if projet.reference|jour_restant < 0 %}
{#                                                                    {% if restant < 0 %}#}
                                                                        <i class="bi bi-stopwatch"></i> La date limite était le <span class="badge text-bg-danger"> {{ dateLimite }}</span>
                                                                    {% else %}
                                                                        <i class="bi bi-stopwatch"></i> Il reste <span style="font-weight:bold; color: var(--color-main)">{{ projet.reference|jour_restant }}</span> jours.
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3 d-grid gap-2">
                                                            <a href="{{ absolute_url(path('app_frontend_demandeur_projet_details', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm">Détails</a>
                                                            <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif',{"demandeur": demandeur.code, 'reference': projet.reference})) }}" class="btn btn-outline-secondary btn-sm">Modifier</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card h-100 candidature">
                                                <div class="card-body text-center">
                                                    <a href="#">
                                                        <span>{{ projet.postulers|length }}</span> <br>
                                                        Candidature(s)
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!--
                            <nav class="paginations mt-5" aria-label="Page navigation">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
-->
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}
