{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend_demandeur/_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        <h2 class="titre">Mes projets</h2>
                        <div class="text-end">
                            <a href="{{ absolute_url(path('app_frontend_demandeur_projet_ajout', {'demandeur': demandeur.code})) }}" class="btn btn-main btn-sm"><i
                                        class="bi bi-plus-circle-fill"></i> Ajouter un projet</a>
                        </div>
                        <div class="mt-5 profile-content_projet">
                            <div class="card">
                                <div class="card-body">
                                    <span class="badge bg-primary">{{ projet.categorie.title }}</span>
                                    <h5 class="card-title">{{ projet.title }}</h5>
                                    <div class="row">
                                        {% if projet.budgetMin and projet.budgetMax %}
                                            <div class="col-md-6 budgetisation">
                                                Budgétisation : <span>{{ projet.budgetMin|number_format(0, '','.') }} FCFA - {{ projet.budgetMax|number_format(0, '','.') }}  FCFA</span>
                                            </div>
                                        {% endif %}

                                        <div class="col-md-6">
                                            Publié le {{ projet.createdAt|date('Y-m-d')}} à {{ projet.createdAt|date('H:i:s') }}
                                        </div>
                                        <div class="col12">
                                            <i class="bi bi-geo-alt"></i>{{ projet.localite.title ?? ''}}, {{ projet.lieu }}
                                        </div>
                                        <div class="col-12 description mt-3">
                                            {{ projet.description|raw }}
                                        </div>
                                        <div class="col-md-4 mt-2">
                                            Statut: <span class="badge {{ projet.statut|stick_css_class }}">{{ projet.statut|statut_label }}</span>

                                        </div>
                                        {% if projet.statut != 'APPEL' %}
                                            <div class="col-md-8 mt-2">
                                                Prestataire sélectionné:
                                                <a href="{{ path('app_frontend_demandeur_candidat_offre', {'demandeur': demandeur.code, 'offre': projet.reference|candidature_selectionne}) }}" class="prestataire">
                                                    {{ prestataire_selectionne(projet.reference)|title }}
                                                </a>
                                            </div>
                                            <div class="col-12">
                                                Budget final: 0 FCFA
                                            </div>
                                        {% endif %}

                                    </div>
                                    {% if projet.projetImages %}
                                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2 d-flex align-items-center mt-3 projet-image">
                                            {% for image in projet.projetImages %}
                                                <div class="col">
                                                    <a href="{{ absolute_url(asset('upload/projets/'~ image.media)) }}" class="venobox-photo" data-gall="gallery01">
                                                        <figure>
                                                            <img src="{{ absolute_url(asset('upload/projets/'~ image.media)) }}" alt="{{ projet.title }}" class="img-fluid">
                                                        </figure>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-footer text-end">
                                    <div class="row">
                                        {% if candidatures|length > 0  %}
                                            {% if projet.statut == 'DEMANDE' %}
                                                <div class="col-6 col-md-2 offset-md-8 d-grid gap-2">{{ include('frontend_demandeur/_form_delete_projet.html.twig') }}</div>

                                                <div class="col-6 col-md-2 d-grid gap-2 text-end">
                                                    <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm float-end">Modifier</a>
                                                </div>
                                            {% else %}
                                                <div class="col-6 col-md-2 offset-md-10 d-grid gap-2 text-end">
                                                    <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm float-end">Modifier</a>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="col-6 col-md-2 offset-md-8 d-grid gap-2">{{ include('frontend_demandeur/_form_delete_projet.html.twig') }}</div>

                                            <div class="col-6 col-md-2 d-grid gap-2 text-end">
                                                <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm float-end">Modifier</a>
                                            </div>
                                        {% endif %}
                                    </div>

{#                                    <a href="#" class="btn btn-outline-danger btn-sm">Supprimer</a>#}

                                </div>
                            </div>

                            <div class="profile-content_projet-prestataires mt-5">
                                <h4 class="nombre">{{ candidatures|length > 1 ? candidatures|length ~ "prestataires" : candidatures|length ~ " prestataire" }}</h4>
                                {% for candidature in candidatures %}
                                    <div class="card mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-2">
                                                <img src="{{ absolute_url(asset('/upload/prestataire/' ~ candidature.prestataire_media)) }}"
                                                     alt="{{ candidature.prestataire_nom }} {{ candidature.prestataire_prenoms }}" class="img-fluid">
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <h6 class="fz-22 fw-500">
                                                                    <a href="#">
                                                                        {{ candidature.prestataire_nom|upper }} {{ candidature.prestataire_prenoms|title }}
                                                                    </a>
                                                                </h6>
                                                                <small class="text-body-secondary fz-14">
                                                                    <span class="rating">
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-half"></i>
                                                                        <i class="bi bi-star"></i>
                                                                        4.5 avis
                                                                    </span>
                                                                    <span class="create-at fz-16">{{ candidature.createdAt|date('d/m/Y H:i:s') }}</span>
                                                                </small>
                                                            </div>
                                                            {% if projet.statut == 'APPEL' %}
                                                                <div class="col-2">
                                                                    <a href="{{ absolute_url(path('app_frontend_demandeur_candidat_offre', {'demandeur': demandeur.code, 'offre': candidature.reference})) }}" class="btn btn btn-sm btn-main">Détails offre</a>
                                                                </div>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                    <p class="card-text fz-16">{{ candidature.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}
