{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend_demandeur/_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        <h2 class="titre">Mes projets</h2>
                        <div class="text-end">
                            <a href="{{ absolute_url(path('app_frontend_demandeur_projet_ajout', {'demandeur': demandeur.code})) }}" class="btn btn-main btn-sm"><i
                                        class="bi bi-plus-circle-fill"></i> Ajouter un projet</a>
                        </div>
                        <div class="mt-5 profile-content_projet">
                            <div class="card">
                                <div class="card-body">
                                    <span class="badge bg-primary">{{ projet.categorie.title }}</span>
                                    <h5 class="card-title">{{ projet.title }}</h5>
                                    <div class="row">
                                        {% if projet.budgetMin and projet.budgetMax %}
                                            <div class="col-md-6 budgetisation">
                                                Budgétisation : <span>{{ projet.budgetMin|number_format(0, '','.') }} FCFA - {{ projet.budgetMax|number_format(0, '','.') }}  FCFA</span>
                                            </div>
                                        {% endif %}

                                        <div class="col-md-6">
                                            Publié le {{ projet.createdAt|date('Y-m-d')}} à {{ projet.createdAt|date('H:i:s') }}
                                        </div>
                                        <div class="col12">
                                            <i class="bi bi-geo-alt"></i>{{ projet.localite.title ?? ''}}, {{ projet.lieu }}
                                        </div>
                                        <div class="col-12 description mt-3">
                                            {{ projet.description|raw }}
                                        </div>
                                        <div class="col-md-4 mt-2">
                                            Statut: <span class="badge {{ projet.statut|stick_css_class }}">{{ projet.statut|statut_label }}</span>

                                        </div>
                                        {% if projet.statut != 'APPEL' %}
                                            <div class="col-md-8 mt-2">
                                                Prestataire sélectionné:
                                                <a href="{{ path('app_frontend_demandeur_candidat_offre', {'demandeur': demandeur.code, 'offre': projet.reference|candidature_selectionne}) }}" class="prestataire">
                                                    {{ prestataire_selectionne(projet.reference)|title }}
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                Budget final: <span class="fw-700">{{ projet.montant|number_format(0,'','.') }} FCFA</span>
                                            </div>

                                        {% endif %}

                                    </div>
                                    {% if projet.projetImages %}
                                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2 d-flex align-items-center mt-3 projet-image">
                                            {% for image in projet.projetImages %}
                                                <div class="col">
                                                    <a href="{{ absolute_url(asset('upload/projets/'~ image.media)) }}" class="venobox-photo" data-gall="gallery01">
                                                        <figure>
                                                            <img src="{{ absolute_url(asset('upload/projets/'~ image.media)) }}" alt="{{ projet.title }}" class="img-fluid">
                                                        </figure>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-footer text-end">
                                    <div class="row">
                                        {% if candidatures|length > 0  %}
                                            {% if projet.statut == 'DEMANDE' %}
                                                <div class="col-6 col-md-2 offset-md-8 d-grid gap-2">{{ include('frontend_demandeur/_form_delete_projet.html.twig') }}</div>

                                                <div class="col-6 col-md-2 d-grid gap-2 text-end">
                                                    <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm float-end">Modifier</a>
                                                </div>
                                            {% elseif projet.statut == 'ENCOURS' %}
                                                <div class="col-6 col-md-2 offset-md-8 d-grid gap-2">
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                                                        Clôturer
                                                    </button>
                                                </div>

                                                <div class="col-6 col-md-2 d-grid gap-2 text-end">
                                                    <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm float-end">Modifier</a>
                                                </div>
                                            {% elseif projet.statut == 'APPEL' %}
                                                <div class="col-6 col-md-2 offset-md-10 d-grid gap-2 text-end">
                                                    <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm float-end">Modifier</a>
                                                </div>

                                            {% endif %}
                                        {% else %}
                                            <div class="col-6 col-md-2 offset-md-8 d-grid gap-2">{{ include('frontend_demandeur/_form_delete_projet.html.twig') }}</div>

                                            <div class="col-6 col-md-2 d-grid gap-2 text-end">
                                                <a href="{{ absolute_url(path('app_frontend_demandeur_projet_modif', {'demandeur': demandeur.code, 'reference': projet.reference})) }}" class="btn btn-main btn-sm float-end">Modifier</a>
                                            </div>
                                        {% endif %}
                                    </div>

{#                                    <a href="#" class="btn btn-outline-danger btn-sm">Supprimer</a>#}

                                </div>
                            </div>

                            <div class="profile-content_projet-prestataires mt-5" id="candidature">
                                <h4 class="nombre">{{ candidatures|length > 1 ? candidatures|length ~ " prestataires" : candidatures|length ~ " prestataire" }}</h4>
                                {% for candidature in candidatures %}
                                    <div class="card mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-2">
                                                <img src="{{ absolute_url(asset('/upload/prestataire/' ~ candidature.prestataire_media)) }}"
                                                     alt="{{ candidature.prestataire_nom }} {{ candidature.prestataire_prenoms }}" class="img-fluid" style="max-height: 100px; max-width: 200px; object-fit: cover">
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <h6 class="fz-22 fw-500">
                                                                    <a href="#">
                                                                        {{ candidature.prestataire_nom|upper }} {{ candidature.prestataire_prenoms|title }}
                                                                    </a>
                                                                </h6>
                                                                <small class="text-body-secondary fz-14">
                                                                    <span class="rating">
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-half"></i>
                                                                        <i class="bi bi-star"></i>
                                                                        4.5 avis
                                                                    </span>
                                                                    <span class="create-at fz-16">{{ candidature.createdAt|date('d/m/Y H:i:s') }}</span>
                                                                </small>
                                                            </div>
                                                            {% if projet.statut == 'APPEL' %}
                                                                <div class="col-2">
                                                                    <a href="{{ absolute_url(path('app_frontend_demandeur_candidat_offre', {'demandeur': demandeur.code, 'offre': candidature.reference})) }}" class="btn btn btn-sm btn-main">Détails offre</a>
                                                                </div>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                    <p class="card-text fz-16">{{ candidature.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="confirmationModalLabel">Confirmation de la clôture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="hireForm" method="POST" action="{{ absolute_url(path('app_frontend_demandeur_projet_cloturer', {'demandeur': demandeur.code, 'reference': projet.reference}) )}}">
                        <input type="hidden" name="_offre" value="{{ projet.reference }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('cloturer'~ projet.reference) }}">

                        <div class="mb-3 text-justify">
                            <label for="">
                                Vous êtes sur le point de clôturer votre projet référencé  <span style="font-weight:bold;">{{ projet.reference }}</span>.
                                Nous vous invitons à évaluer les performances du prestataire <span style="font-weight:bold; color: var(--color-main)">{{ prestataire_selectionne(projet.reference)|title }}</span>.
                                Votre évaluation et vos remarques sont essentielles pour améliorer la qualité des services proposés sur notre plateforme.
                            </label>
                        </div>

                        <!-- Système de notation par étoiles -->
                        <div class="mb-3 text-center">
                            <label for="rating">Note du prestataire</label>
                            <div id="rating" class="star-rating fz-30">
                                <i class="bi bi-star" data-rating="1"></i>
                                <i class="bi bi-star" data-rating="2"></i>
                                <i class="bi bi-star" data-rating="3"></i>
                                <i class="bi bi-star" data-rating="4"></i>
                                <i class="bi bi-star" data-rating="5"></i>
                            </div>
                            <input type="hidden" name="_cloture_rating" id="rating-input" value="0">
                        </div>

                        <div class="mb-3">
                            <label for="clotureComment">Commentaire</label>
                            <textarea name="_cloture_commentaire" id="clotureComment" rows="5"
                                      class="form-control"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-main" onclick="submitHireForm()">Confirmer la clôture</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .star-rating i {
            font-size: 3rem;
            cursor: pointer;
            color: var(--color-main);
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const stars = document.querySelectorAll('#rating i');
            const ratingInput = document.getElementById('rating-input');

            stars.forEach(star => {
                star.addEventListener('click', function () {
                    const rating = this.getAttribute('data-rating');
                    ratingInput.value = rating;
                    highlightStars(rating);
                });
            });

            function highlightStars(rating) {
                stars.forEach(star => {
                    if (star.getAttribute('data-rating') <= rating) {
                        star.classList.add('bi-star-fill');
                        star.classList.remove('bi-star');
                    } else {
                        star.classList.add('bi-star');
                        star.classList.remove('bi-star-fill');
                    }
                });
            }
        });

        function submitHireForm() {
            document.getElementById('hireForm').submit();
        }
    </script>
{% endblock %}
